<script type="application/ld+json">
    [{
        "@context" : "http://schema.org",
        "@type" : "Event",
        "name" : "{{ site.title }}",
        "description": "{{ site.description }}",
        "image" : "{{ site.socialImageSrcGooglePlus | prepend: site.baseurl | prepend: site.url }}",
        "url" : "{{ site.url }}",
        "startDate" : "{{ site.eventStartTime }}",
        "doorTime" : "{{ site.eventDoorTime }}",
        "endDate" : "{{ site.eventEndTime }}",
        "location" : {
            "@type" : "Place",
            "name" : "{{ site.eventLocationName }}",
            "sameAs" : "{{ site.eventLocationLink }}",
            "address" : {
                "@type" : "PostalAddress",
                "streetAddress" : "{{ site.eventStreetAddress }}",
                "addressLocality" : "{{ site.eventAddressLocality }}",
                "addressRegion" : "{{ site.eventAddressLocalityRegion }}",
                "postalCode" : "{{ site.eventPostalCode }}",
                "addressCountry" : "{{ site.eventAddressCountry }}"
            },
            "geo" : {
                "@type" : "GeoCoordinates",
                {% assign coordinates = site.eventPlaceCoordinates | split:"," %}
                "latitude" : "{{ coordinates[0] }}",
                "longitude" : "{{ coordinates[1] }}"
            }
        }
    </script>